<div>
    <p class="card-text">
        <strong>Tipo de Oportunidade</strong><br>
        Monitoria
    </p>
</div>
<div>
    <p class="card-text">
        <strong>Monitores</strong><br>
        {{ opportunity.monitors }}
    </p>
</div>
<div>
    <p class="card-text">
        <strong>Bolsa</strong><br>
        R$ {{ opportunity.scholarship }}
    </p>
</div>
<div>
    <p class="card-text">
        <strong>Número de Monitores</strong><br>
        {{ opportunity.numberOfMonitors }}
    </p>
</div>
<div>
    <p class="card-text">
        <strong>Número de Monitores</strong><br>
        {{ opportunity.disciplineCode }}
    </p>
</div>
<div>
    <p class="card-text">
        <strong>Interessados</strong><br>
        {{ opportunity.interest|length }}
    </p>

    {% if opportunity.interest|length > 0 %}
    <table class="table">
        <tr>
            <th>E-mail</th>
            <th>Nome</th>
        </tr>
        {% for interested in opportunity.interest %}
        <tr>
            <td>{{ interested.username}}</td>
            <td>{{ interested.name }} {{ interested.surname }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>