<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oportunista - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="backgroundImage">
    <main>
        <div class="container">
            <div class="row mt-4 mb-5">
                <div class="col-md-6 col-xs-12 align-self-center justify-content-center justify-content-md-start cabecalho">
                    <img src="/img/logo.svg" class="col-md-6" alt="Logotipo Oportunista">
                </div>
                <div class="col-md-6 col-xs-12 justify-content-md-end cabecalho">
                    <a href="{{ path_for('signUpForm') }}" class="btn btn-md oppGreenButton">Cadastre-se</a>
                </div>
            </div>

            {% if success != false %}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ success }}
                </div>
            {% endif %}

            {% if error != false %}
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error }}
                </div>
            {% endif %}

            <div class="row justify-content-center align-content-center align-items-center">
                <img src="/img/students.png" class="img-fluid col-xs-11 col-md-4" alt="">
            </div>
            <div class="row justify-content-center align-content-center align-items-center">
                <div class="col-xs-11 col-md-4 formDiv">
                    <form action="{{ path_for('loginAction') }}" class="mt-4 mb-4 ml-2 mr-2" method="post">
                        <div class="row">
                            <div class="form-group col-12 formItem">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" name="username" placeholder="E-mail: " id="femail">
                            </div>
                            <div class="form-group col-12 formItem">
                                <label for="password">Senha:</label>
                                <input type="password" name="password" class="form-control" placeholder="Senha" id="fpass">
                            </div>
                            <div class="form-group col-12 formItem">
                                <button type="submit" class="btn btn-block btn-lg btn-primary oppGreenButton border-0">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>